<template name="Navbar">
  <nav class="navbar navbar-inverse navbar-static-top" role="navigation">
    <div class="container">
      <div class="navbar-header">
        <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
          <span class="sr-only">Toggle navigation</span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
        </button>
        <a class="navbar-brand" href="/">
          <span class="fui-list brand-color"></span> Entrepreneur<i>HK</i>
        </a>
      </div>
      <div id="navbar" class="navbar-collapse collapse">
        <form class="navbar-form navbar-left" role="search">
          <div class="form-group">
            <div class="input-group">
              <input type="text" class="form-control" placeholder="Search by tags">
              <span class="input-group-btn">
                <button type="submit" class="btn"><span class="fui-search"></span></button>
              </span>
            </div>
          </div>
        </form>

        <ul class="nav navbar-nav navbar-right">
        {{#if currentUser}}
          <li><button class="btn btn-embossed btn-primary navbar-btn editProfile" type="button">
            Edit Profile
          </button></li>
          <li><a href="{{pathFor 'entrySignOut'}}">Logout</a></li>
        {{else}}
          <li><button class="btn btn-embossed btn-primary navbar-btn entrySignUp" type="button">
            Create Account
          </button></li>
          <li><a href="{{pathFor 'entrySignIn'}}">or Sign In</a></li>
        {{/if}}
        </ul>
      </div>
    </div>
  </nav>
</template>
