<template name="Footer">
  <footer class="footer">
    <div class="container">
      <div class="row">
       <div class="col-xs-6">
        <p class="text-muted">Copyright © EntrepreneurHK</p>
       </div>
       <div class="col-xs-6">
          <ul class="list-inline pull-right">
            <li><a href="https://www.facebook.com/entrepreneurhk" target="blank"><i class="fa fa-facebook"></i></a></li>
            <li><a href="https://twitter.com/EHKNews" target="blank"><i class="fa fa-twitter"></i></a></li>
            <li><a href="http://www.pinterest.com/ehknews/" target="blank"><i class="fa fa-pinterest"></i></a></li>
            <li><a href="https://plus.google.com/u/0/105316903020199557147/posts" target="blank"><i class="fa fa-google-plus"></i></a></li>
            <li><a href="http://www.youtube.com/user/ehknews" target="blank"><i class="fa fa-youtube"></i></a></li>
          </ul>
        </div>
      </div>
    </div>
  </footer>
</template>


<!-- <ul>
<li>Facebook</a></li>

<li>Twitter</a></li>

<li>Pinterest</a></li>

<li>Google+</a></li>

<li>Youtube</a></li>

</ul>
 -->
