<template name="BusinessCard">
  <div class="panel panel-default">
      <div class="panel-body">
        <h4><a href="{{linkedIn}}" class="pull-right" target="blank"><i class="fa fa-linkedin-square"></i></a></h4>
        <div class="media">
          <div class="media-left">
            <div class="profile-image-centered img-thumbnail" style="background-image: url('{{image}}')">
            </div>
          </div>
          <div class="media-body">
            <h4 class="media-heading profile-name">{{name}}</h4>
            <p class="pitch">{{pitch1}}</p>
            <p class="pitch">{{pitch2}}</p>
            <p class="pitch">{{pitch3}}</p>
          </div>
        </div>
        <ul class="list-inline text-center">
          <li><h4><span class="label label-primary tags">{{firstTag}}</span></h4></li>
          <li><h4><span class="label label-primary tags">{{secondTag}}</span></h4></li>
          <li><h4><span class="label label-primary tags">{{thirdTag}}</span></h4></li>
        </ul>
      </div>
    </div>
</template>
