<template name="BusinessCard">
  <div class="row">
    <div class="panel panel-default">
      <div class="panel-body">
        <div class="col-sm-4">
          <img class="profile-image img-thumbnail img-responsive" src="{{image}}">
        </div>
        <div class="col-sm-8">
          <h4>{{name}}</h4>
          <p>{{pitch}}</p>
          <hr>
          <ul class="list-inline">
            <li><h4><span class="label label-primary">JavaScript</span></h4></li>
            <li><h4><span class="label label-primary">MeteorJS</span></h4></li>
            <li><h4><span class="label label-primary">AngularJS</span></h4></li>
          </ul>
        </div>
       </div>
    </div>
  </div>
</template>

