<template name="BusinessCard">
  <div class="row">
    <div class="panel panel-default">
      <div class="panel-body">
        <div class="col-sm-4">
          <div class="profile-image-centered img-thumbnail center-block" style="background-image: url('{{image}}')">
          </div>
        </div>
        <div class="col-sm-8">
          <h4>{{name}} <a href="{{linkedIn}}" class="pull-right" target="blank"><i class="fa fa-linkedin-square"></i></a></h4>
          <p>{{pitch}}</p>
          <hr>
          <ul class="list-inline">
            <li><h4><span class="label label-primary">JavaScript</span></h4></li>
            <li><h4><span class="label label-primary">MeteorJS</span></h4></li>
            <li><h4><span class="label label-primary">AngularJS</span></h4></li>
          </ul>
        </div>
       </div>
    </div>
  </div>
</template>
