.center-block {
  display: block;
  margin-left: auto;
  margin-right: auto;
}

.profile-image-centered {
  display: block;
  width: 178px;
  height: 178px;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center center;
}

.linkedin{
  color: #069;
}

.name{
  color: #000;
  font-size: 14px;
}
