<template name="Profile">
  <div class="container">
    <form role="form">
      <div class="panel panel-default">
        <div class="panel-body">
          <div class="col-sm-4">
            <div class="profile-image-centered img-thumbnail" style="background-image: url('{{currentUser.profile.image}}')">
            </div>
            <hr>
            <div class="form-group">
              <div class="fileinput fileinput-new" data-provides="fileinput">
                <span class="btn btn-primary btn-embossed btn-file">
                  <span class="fileinput-new"><span class="fui-upload"></span>  Upload Image</span>
                  <span class="fileinput-exists"><span class="fui-gear"></span>  Change</span>
                  <input type="file" name="..." class="myFileInput">
                </span>
                <span class="fileinput-filename"></span>
                <a href="#" class="close fileinput-exists" data-dismiss="fileinput" style="float: none">×</a>
              </div>
            </div>
          </div>
          <div class="col-sm-8">
            <div class="form-group">
              <label for="name">Profile Name</label>
              <input name="name" type="name" class="form-control" placeholder="Enter your name" value="{{currentUser.profile.name}}">
            </div>
            <div class="form-group">
              <label for="pitch">Elevator Pitch</label>
              <textarea name="pitch" class="form-control" rows="3">{{currentUser.profile.pitch}}</textarea>
            </div>
            <div class="form-group">
              <label for="linkedIn">LinkedIn Profile</label>
              <input name="linkedIn" type="link" class="form-control" placeholder="e.g. https://www.linkedin.com/in/entreprenuerhk" value="{{currentUser.profile.linkedIn}}">
            </div>
            <hr>
            <ul class="list-inline">
              <li><h4><span class="label label-primary">JavaScript</span></h4></li>
              <li><h4><span class="label label-primary">MeteorJS</span></h4></li>
              <li><h4><span class="label label-primary">AngularJS</span></h4></li>
            </ul>
          </div>
        </div>
      </div>
      <button type="submit" class="btn btn-primary pull-right">Save and Publish</button>
   </form>
 </div>
</template>
